@font-face {
  font-family: "Glyphter";
  src: url("../vendor/fonts/glyphter-font/Glyphter.eot");
  src: url("../vendor/fonts/glyphter-font/Glyphter.eot?#iefix")
      format("embedded-opentype"),
    url("../vendor/fonts/glyphter-font/Glyphter.woff") format("woff"),
    url("../vendor/fonts/glyphter-font/Glyphter.ttf") format("truetype"),
    url("../vendor/fonts/glyphter-font/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"]:before {
  display: inline-block;
  font-family: "Glyphter";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-dribbble:before {
  content: "\0041";
}

.icon-fa-flickr:before {
  content: "\0042";
}

.icon-fa-twitter:before {
  content: "\0043";
}
