@import "./fonts";
html {
  font-size: 62.5%;
}
body {
  font-family: "Gotham Rounded";
}
h1 {
  font-size: 3.6rem;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  margin-bottom: 5px;
  font-weight: bold;
}
h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin: 39px auto;
  font-weight: bold;
  &.green {
    color: $cyan;
  }
}
p {
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 100;
  letter-spacing: 1.9px;
}
img {
  max-width: 100%;
}
// button {
//   border: 0;
//   background-color: $cyan;
//   height: 60px;
//   line-height: 60px;
//   color: $white;
//   text-transform: uppercase;
//   width: 295px;
//   max-width: 100%;
//   text-align: left;
//   font-size: 18px;
// }
.btn {
  padding: 12px 33px;
  font-size: 1.2rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  max-width: 100%;
  width: 295px;
  &.btn-section {
    margin: 30px 0;
    padding: 16px 42px;
  }
  &.btn-square {
    padding: 0;
    background-color: $cyan;
    height: 60px;
    width: 60px;
    text-align: center;
  }
}
