@import "./fonts";
html {
  font-size: 62.5%;
}

body {
  font-family: "Gotham Rounded";
}

h1 {
  font-size: 3.6rem;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  margin-bottom: 5px;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin: 39px auto;
  font-weight: bold;

  &.green {
    color: $cyan;
  }
}

p {
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 100;
  letter-spacing: 1.9px;
}

img {
  max-width: 100%;
}

.btn {
  background-color: $cyan;
  color: $white;
  padding: 12px 33px;
  font-size: 1.2rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  max-width: 100%;
  width: 295px;

  &.btn-section {
    margin: 30px 0;
    padding: 16px 42px;
    width: auto;
    font-size: 12px;
  }

  &.btn-square {
    padding: 0;
    background-color: $cyan;
    height: 60px;
    width: 60px;
    text-align: center;
  }

  &.btn-apple,
  &.btn-android {
    background-color: $green;
    padding-right: 60px;
    position: relative;
    margin-bottom: 5px;
    text-align: left;

    &::after {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 56px;
      height: 100%;
      background-color: $cyan;
    }
  }

  &.btn-apple::after {
    background-image: url(../images/apple.svg);
  }

  &.btn-android::after {
    background-image: url(../images/android.svg);
  }
}
@media screen and (min-width: 768px) {
  .btn-apple,
  .btn-android {
    margin: 5px 12px;
  }
}
